/*
@import url(https://fonts.googleapis.com/css?family=Passion+One);
h1{
    font-family: 'Passion One', cursive;
    font-size: 500%;
    color: aliceblue;
}
#landing{
    font-family: 'Helvetica', sans-serif;
    color: aliceblue;
}
*/

body {
    background-color: rgb(191, 200, 224);
}

/*
.jumbotron{
    background-color: #00a7f2;
    color:aliceblue;
    outline-color: #00a7f2;
}

.text-center{
    color:aliceblue;
}
#shadow{
text-shadow: -2px -2px 2px rgba(0, 0, 0, 1);
}

.navbar-brand{
    color:aliceblue;
}
*/

/*
.panel {
	background-color:azure;
}
*/

/*
.panel-header {
	background-color: silver;
}
*/

/*
.panel-body {
	background-color:dimgray;
}
*/

.panel-footer {
/*
	background-color: silver;
	border-top: 1px solid slategrey;
*/
	font-size: 10px;
}

/*
.panel-default {
    border-color: slategray;
}*/
