
@import url(https://fonts.googleapis.com/css?family=Passion+One);
h1{
    font-family: 'Passion One', cursive;
    font-size: 500%;
    color: aliceblue;
    text-shadow: -2px -2px 2px rgba(0, 0, 0, 1);
}
#landing{
    font-family: 'Helvetica', sans-serif;
    color: aliceblue;
}


body {
    background-color: #56A0D3 ;

}

.plain-link {
	text-decoration: none;
	color: rgb(44, 62, 80);
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.jumbotron{
    background-color: #008bc9;
    color:aliceblue;
    outline-color: #008bc9;
}

.text-center{
    color:aliceblue;
}
#shadow{
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
}

.navbar-brand{
    color:aliceblue;
}
*/

/*
.panel {
	background-color:azure;
}
*/

/*
.panel-header {
	background-color: silver;
}
*/

/*
.panel-body {
	background-color:dimgray;
}
*/

.panel-footer {
	background-color: silver;
	border-top: 1px solid slategrey;
	font-size: 10px;
}


.panel-default {
    /*border-color: slategray;*/
  box-shadow: 8px 8px 2px 0px rgba(0, 0, 0, 0.4);/*44, 62, 80*/
}
