@import url(http://fonts.googleapis.com/css?family=Orbitron:400,900);
h1{
  font-family: 'Orbitron', sans-serif;
  font-size: 500%;
  color: white;
}
#landing{
  font-family: 'Orbitron', sans-serif;
  color: white;
}

body {
    background-color: #00CCFF;
}

#sizing-addon{
  color: white;
}