<form action="/bubble/create" method="POST" align="center">
    <div class="input-group">

    <input type="text" name= "bubble_name" class="form-control" placeholder="Bubble Name">
    <input type="text" name= "bubble_topics" class="form-control" placeholder="Bubble Topic">

    <span class="input-group-btn">
        <button class="btn btn-default" type="submit">Create</button>
    </span>
    </div>
</form>
