<% if session[:user_id] != nil %>
<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-10">
		<% @posts.reverse.each do |post| %>
		<div class="panel panel-default">
  			<div class="panel-heading">
				<h3 class="panel-title"><strong><%=post.user.username %></strong></h3>
  			</div>
  			<div class="panel-body">
				<%=post.post_text %>
  			</div>
			<div class="panel-footer">
			<strong>Posted in:</strong> <% post.bubbles.reverse.each do |bubble|%>
			<%=bubble.bubble_name + "  " %>
			<% end %> at <%=post.created_at%></div>
		</div>
		<% end %>
	</div>
	<div class="col-md-1"></div>
</div>
<% end %>
<!--
<div class="row">
	<div class="col-md-4"></div>
	<div class="col-md-4"></div>
	<div class="col-md-4"></div>
</div>
-->
