<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bubble</title>

    <!-- Bootstrap -->
    <link href="css/slate.bootstrap.min.css" rel="stylesheet">

	 <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
	 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">	</script>

    <script>
    $(function(){
      $("#navbar").load("/navbar");
    });
    </script>

  </head>
  <body>
    <div id="navbar"></div>
	 <div class="container">
		 <div class="row">
			 <div class="col-md-8"></div>
			 <div class="col-md-8">
			 </div>
			 <div class="col-md-4"></div>
		 </div>
	 </div>
  </body>
</html>
