<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bubble</title>

    <!-- Bootstrap -->
    <link href="css/slate.bootstrap.min.css" rel="stylesheet">

	 <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
	 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">	</script>

    <script>
    $(function(){
      $("#navbar").load("/navbar");
    });
    </script>
    <style>
      body {
        background: #5b6ee1;
        color: #222034;
      }
      .bub_panel {
        background: #5fcde4;
        box-shadow: 8px 8px 4px rgba(34, 32, 52, 0.5);
      }
      .bub_bubble {
        background: #5fcde4;
        border-radius: 50%;
	      width: 256px;
	      height: 256px;
        box-shadow: 4px 4px 2px rgba(34, 32, 52, 0.5);
      }
    </style>
  </head>

  <body>
    <div id="navbar"></div>
	  <div class="container">
			<div class="col-md-2 bub_panel">
        Sidebar<br>
        SIDEBAR<br>
        sidebar.<br>
        <br>
        ...<br>
        <br>
        <br>
        <br>
        hi<br>
			</div>
			<div class="col-md-10">
        Main
        <div class="bub_bubble" style="transform: translate(40px, 40px);">
          bubbly!
        </div>
      </div>
	  </div>
  </body>
</html>