<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

	 <title></title>

    <!-- Bootstrap -->
    <link href="/css/cosmo.bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css" type="text/css">

	 <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
	 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">	</script>
	 <%= erb :navbar %>

  </head>
  <body>
	  <div class="container">
		<div id="navbar"></div>
		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-4">

				<form action="/post/create" method="POST" align="center">
				   <div class="input-group">

              		   <input type="text" name="post_text" class="form-control" placeholder="Enter your message here">
                       <input type="file" name="post_media" class="form-control" placeholder="Post media here">
                       <input type="text" name="post_topic" class="form-control" placeholder="What is the topic of this post?">
                       <input type="text" name="post_type" class="form-control" placeholder="What type of post is this?">

              		<span class="input-group-btn">
                		<button class="btn btn-default" type="submit">Post</button>

              		</span>
            	   </div>
				 </form>


			</div>
			<div class="col-md-4"></div>
	   </div>
  </body>
</html>
