<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

	 <title></title>

    <!-- Bootstrap -->
    <link href="/css/flatly.bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css" type="text/css">

	 <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
	 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">	</script>
	 <%= erb :navbar %>

  </head>
  <body>
	  <div class="container">
		<div id="navbar"></div>
		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-4">
				<br>
				<br>
				<br>
				<br>
				<form action="/post/create" method="POST" align="center">
						  <h3 align="center">Make a new post</h3>
						 <br>
                    <div class="input-group">
  								<span class="input-group-addon" id="basic-addon1">Post Text</span>
<!--  								<input name="post_text" type="text" class="form-control" placeholder="" aria-describedby="basic-addon1">-->
							  <textarea name="post_text" type="text" rows="3" class="form-control" placeholder="" aria-describedby="basic-addon1"></textarea>
						  </div>
							<div class="input-group">
  								<span class="input-group-addon" id="basic-addon1">Media</span>
  								<input name="post_media" type="file" class="form-control" placeholder="" aria-describedby="basic-addon1">
						  </div>
							<div class="input-group">
  								<span class="input-group-addon" id="basic-addon1">Topics</span>
  								<input name="post_topic" type="text" class="form-control" placeholder="What's this post about?" aria-describedby="basic-addon1">
						  </div>
							<div class="input-group">
  								<span class="input-group-addon" id="basic-addon1">Post Type</span>
  								<input name="post_type" type="text" class="form-control" placeholder="Text or Media or Both" aria-describedby="basic-addon1">
						  </div>
							<div class="input-group">
  								<span class="input-group-addon" id="basic-addon1">Bubbles</span>
								<select multiple name="bubble[]" class="form-control">
									<% @user.bubbles.each do |bubble| %>
									<option value="<%=bubble.bubble_name %>"><%=bubble.bubble_name %></option>
									<% end %>
								</select>
						  </div>
						 <br>
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">Create</button>
                    </span>
                </form>


			</div>
			<div class="col-md-4"></div>
	   </div>
  </body>
</html>
