<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Bubble</title>
   <link rel="stylesheet" href="css/slate.bootstrap.min.css">
 </head>
 <body>
   <h1 align="center">Bubble</h1>
   <form action="/login" method="POST" align="center">
     <h3>Login</h3>
     <div>
     <input type="text" name="username" placeholder="Username">
       </div> 
      <div> 
     <input type="text" name="password" placeholder="Password">
        </div> 
      <div>
     <input type="submit" value="Submit">
        </div> 
   </form>
 <form action="/new_user" method="POST" align="center">
      <h3 align="center">Sign-Up</h3>
     <div>
     <input type="text" name="username" placeholder="Enter a Username">
     </div>
     <div>
     <input type="text" name="email" placeholder="Enter your E-Mail">
       </div>
       <div>
     <input type="text" name="password" placeholder="Enter a Password">
         </div>
   <div>
     </div>
         <div>
     <input type="submit" value="Submit">
           </div>
   </form>
 </body>
</html>